/* Write your CSS here */
.list {
  display: flex;
  padding: 20px;
}

.button {
  height: 30px;
  width: 100px;
  background-color: #382f5a;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  color: #c4c4c4;
}
